/* Universal Styling */

:root {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* Header Styling */

#headerdiv {
    height: 10vh;
    width: 100vw;
    padding: 0 10%;
    background-color: aquamarine;
    z-index: 1;
}

#headerid {
    float: left;
    padding: 2% 0%;
}

#timerid {
    float: right;
    padding: 2% 0%;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

p {
    line-height: 30px;
}
/* Main Styling */

main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: blue;
}

/* Quiz Styling */

#quizdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: left;
    background-color: blueviolet;
    width: 80vw;
    height: 50vh;
    z-index: 1;
}

#quizquestion1 {
    display: none;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding: 50px;
    margin: 50px;
    width: 50%;
    height: min-content;
    background-color: antiquewhite;
}

#quizquestion1buttons {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
}

#quizquestion2 {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 50px;
    width: 90%;
    height: min-content;
    background-color: antiquewhite;
}

#quizquestion2buttons {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
}

#quizquestion3 {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 50px;
    width: 90%;
    height: min-content;
    background-color: antiquewhite;
}

#quizquestion3buttons {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
}

/* Quiz Button Styling */

#quizzbuttona, #quizzbuttonb, #quizzbuttonc, #quizzbuttond, #quizzbutton2a, #quizzbutton2b, #quizzbutton2c, #quizzbutton2d, #quizzbutton3a, #quizzbutton3b, #quizzbutton3c, #quizzbutton3d {
    padding: 10px 20px;
    margin: 10px;
    font-weight: bolder;
    background-color: goldenrod;
    cursor: pointer;
}

#quizzbuttona:hover, #quizzbuttonb:hover, #quizzbuttonc:hover, #quizzbuttond:hover {
    opacity: .8;
}

/* Score Screen Styling */

#scorescreen {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 50px;
    width: 50%;
    height: min-content;
    background-color: antiquewhite;
}

form {
    padding-top: 20px;
}

/* Lose Screen Styling */

#losescreen {
    display: none;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding: 50px;
    margin: 50px;
    width: 50%;
    height: min-content;
    background-color: antiquewhite;
}

/* High Score Screen Styling */

#highscorescreen {
    display: none;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding: 50px;
    margin: 50px;
    width: 50%;
    height: min-content;
    background-color: antiquewhite;
}


/* Bottom Buttons Styling */

#highscoresbutton, #startbutton {
    text-align: center;
    padding: 5px;
    background-color: crimson;
    color: black;
    border: 5px solid black;
    margin: 10px;
    font-weight: bolder;
    cursor: pointer;
}

#highscoresbutton:hover, #startbutton:hover {
    opacity: .8;
}